:host > div {
    display: flex;
    flex-direction: row;
}
div#net {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    right: 30%;
}

div#docs {
    position: absolute;
    right: 0px;
    left: 70%;
    padding: 7px;
    border-left: 1px solid #64676;
}

div#docs h1 {
    text-align: center;
}
