<!--   <md-grid-tile *ngFor="let card of dashboard" [colspan]="card.cols" [rowspan]="card.rows">
    <md-card>
      <md-card-header>
        <md-card-title>{{card.title}}</md-card-title>
        <md-card-subtitle>{{card.subtitle}}</md-card-subtitle>
        <img md-card-avatar [src]="'assets/' + card.image" />
      </md-card-header>
      <md-card-content [innerHTML]="card.text">
      </md-card-content>
    </md-card>
  </md-grid-tile>
  -->

<md-grid-list cols="3" rowHeight="fit">
    <md-grid-tile rowspan="3">
        <app-repo [repo]="repo"></app-repo>
    </md-grid-tile>
    <md-grid-tile colspan="2">
        FFN
    </md-grid-tile>
    <md-grid-tile colspan="2">
        RNN
    </md-grid-tile>
    <md-grid-tile colspan="2">

    </md-grid-tile>
</md-grid-list>
