  <md-toolbar color="primary">

    <span style='position: relative; left: 0%;'> {{title}} </span>
    <span style='position: absolute; right: 10%;'> {{subtitle}} </span>
  </md-toolbar>
      <md-tab-group>
          <md-tab label="Classify">
             <app-classify></app-classify>
          </md-tab>
         <md-tab label="Docs" >
             <app-docs></app-docs>
         </md-tab>
         <md-tab label="Tensorboard">
             <iframe src="http://localhost:6006"></iframe>
         </md-tab>
         <md-tab label="Dashboard">
             <app-network></app-network>
         </md-tab>
      </md-tab-group>
