<md-toolbar color="primary">

  <span style='position: relative; left: 30%;'> {{ title }} - {{ subtitle }} </span>
</md-toolbar>
<md-tab-group dynamicHeight="true" (selectChange)="saveTab($event)" [selectedIndex]="tabIndex">
  <md-tab label="Classifier">
  </md-tab>
  <md-tab label="Documentation">
  </md-tab>
  <md-tab label="Tensorboard">
  </md-tab>
  <md-tab label="Network Dashboard">
  </md-tab>
  <md-tab label="Data exploration">
  </md-tab>
</md-tab-group>
<router-outlet></router-outlet>
