<md-toolbar color="primary">

  <span style='position: relative; left: 30%;'> {{ title }} - {{ subtitle }} </span>
</md-toolbar>
<md-tab-group dynamicHeight="true" (selectChange)="saveTab($event)" [selectedIndex]="tabIndex">
  <md-tab label="Classifier">
    <!-- <app-classify></app-classify> -->
  </md-tab>
  <md-tab label="Documentation">
    <!-- <app-docs></app-docs> -->
  </md-tab>
  <md-tab label="Tensorboard">
    <!-- <iframe src="http://localhost:6006"></iframe> -->
  </md-tab>
  <md-tab label="Network Dashboard">
    <!-- <app-network></app-network> -->
  </md-tab>
  <md-tab label="Data exploration">
    <!-- <app-data></app-data> -->
  </md-tab>
</md-tab-group>
<router-outlet></router-outlet>
