div#plot {
  height: 800px;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
}

app-repo {
    width: 500px;
    float: right;
}

md-select#y {
  position: absolute;
  left: 80px;
  top: 700px;
  width: 100px;
  height: 28px;
}

md-input#limit {
    position: absolute;
    left: 80px;
    top: 750px;
    width: 100px;
    height: 28px;
}

md-select#x {
  position: absolute;
  left: 205px;
  top: 760px;
  width: 100px;
  height: 28px;
}

svg {
  border: 1px dashed #7e7c7e;
}
