<div id="plot">
  <svg [attr.width]="width" [attr.height]="height" #plot>
    <g #data></g>
</svg>
  <md-select [disabled]="!dataLoaded" id="y" placeholder="y-Axis" [(ngModel)]="yAxis" (onClose)="resetScale(); draw()">
    <md-option *ngFor='let category of categoryLabels; let i = index' [value]="categories[i]">
      {{ category }}
    </md-option>
  </md-select>

  <md-select [disabled]="!dataLoaded" id="x" placeholder="x-Axis" [(ngModel)]="xAxis" (onClose)="resetScale(); draw()">
    <md-option *ngFor='let category of categoryLabels; let i = index' [value]="categories[i]">
      {{ category }}
    </md-option>
  </md-select>

<app-repo [repo]="repo"></app-repo>
</div>
