<md-card class='repo'>
  <md-card-header>
    <md-card-title>{{ (repo | async)?.Title }}</md-card-title>
    <md-card-subtitle>{{ (repo | async)?.User }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
     <md-chip-list>
      <md-chip [style.background-color]="colors('0')" [style.opacity]="(repo | async)?.Category == '1' ? 1 : 0.3">DEV</md-chip>
      <md-chip [style.background-color]="colors('1')" [style.opacity]="(repo | async)?.Category == '2' ? 1 : 0.3">HW</md-chip>
      <md-chip [style.background-color]="colors('2')" [style.opacity]="(repo | async)?.Category == '3' ? 1 : 0.3">EDU</md-chip>
      <md-chip [style.background-color]="colors('3')" [style.opacity]="(repo | async)?.Category == '4' ? 1 : 0.3">DOCS</md-chip>
      <md-chip [style.background-color]="colors('4')" [style.opacity]="(repo | async)?.Category == '5' ? 1 : 0.3">WEB</md-chip>
      <md-chip [style.background-color]="colors('5')" [style.opacity]="(repo | async)?.Category == '6' ? 1 : 0.3">DATA</md-chip>
      <md-chip [disabled]="(repo | async)?.Category != '7'" [style.background-color]="colors('6')" >OTHER</md-chip>
    </md-chip-list>

    <div id="rating" #rating>

    </div>

    <md-list [style.float]="'left'">
      <md-list-item>
        <span> {{ (repo | async)?.NumberOfContributors }} </span>
        <label md-line>Contributors</label>
      </md-list-item>
      <md-list-item>
        <span> {{ (repo | async)?.NumberOfCommits }}</span>
        <label md-line>Commits</label>
      </md-list-item>
      <!-- <md-list-item>
        <label md-line>Issues</label>
        <span> {{ (repo | async)?.NumberOfIssues }}</span>
      </md-list-item> -->
      <md-list-item>
        <span> {{ (repo | async)?.Forks }}</span>
        <label md-line>Forks</label>
      </md-list-item>
    </md-list>
    <md-list [style.float]="'right'">
      <md-list-item>
        <span> {{ (repo | async)?.Stars }}</span>
        <label md-line>Stars</label>
      </md-list-item>
      <md-list-item>
        <span> {{ (repo | async)?.Pulls }}</span>
        <label md-line>Pulls</label>
      </md-list-item>
      <md-list-item>
        <span> {{ (repo | async)?.Subscribers }}</span>
        <label md-line>Subscribers</label>
      </md-list-item>
    </md-list>
    <p [innerHTML]="md2html((repo | async)?.Readme)">
    </p>
  </md-card-content>
</md-card>
