.repo div#rating {
    position: absolute;
    top: 0px;
    right: 50px;
}
.repo md-chip {
    color: white !important;
}

.repo p img {
    max-width: 90%;
}

.repo md-list {
    width: 45%;
}
.repo md-card-content > p {
    position: relative;
    top: 35px;
    clear: both;
    margin-bottom: 50px;
}
