div#rating {
    position: absolute;
    top: 0px;
    right: 50px;
}
md-chip {
    color: white !important;
}

 md-list {
    width: 45%;
}
md-card-content > p {
    position: relative;
    top: 35px;
    clear: both;
    margin-bottom: 50px;
}
